body {
    background-color: #FB6B6B;
}



::-webkit-scrollbar {
    display: none;
}

.root {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- tela inicial --- */
.tela-inicial {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.tela-inicial .app-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela-inicial .app-menu img {
    width: 136px;
    height: 161px;
    margin-bottom: 13px;
}

.tela-inicial .app-menu h1 {
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    font-size: 36px;
    font-weight: 400;
}

.tela-inicial button {

    width: 246px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: Recursive;
    font-size: 18px;
    color: #D70900;
    margin-top: 73px;
}




/* --- tela perguntas */



.tela-perguntas {
    width: 100vw;
    position: relative;
    margin-bottom: 171px;
}

main.tela-perguntas {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

/*  ---- header tela 2 */
.tela-perguntas header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    margin-top: 19px;
    margin-bottom: 40.98px;

}

.tela-perguntas header img {
    width: 52px;
    height: 60px;
    margin-right: 10px;
}

/* ---- main tela 2 ---- */

.tela-perguntas section * {
    font-family: 'Recursive', sans-serif;
}

.tela-perguntas section h1 {
    padding-left: 15px;
    padding-right: 15px;

}

.tela-perguntas section.carta {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    justify-content: space-between;

}

.tela-perguntas .carta h1 {
    font-weight: 700;
    font-size: 16px;

}

.riscado {
    text-decoration: line-through;
}

.tela-perguntas .carta ion-icon {
    font-size: 30px;
    margin-right: 22px;

}



.tela-perguntas section.carta-virada * {
    font-size: 18px;

}


.tela-perguntas section.carta-virada {
    width: 300px;
    height: 131px;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;

}

.tela-perguntas .carta-virada h1 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 13px;
    margin-bottom: 5px;
    word-break: break-word;
    overflow: scroll;

}

.tela-perguntas .carta-virada img {
    width: 20px;
    height: 13px;
    position: absolute;
    bottom: 7px;
    right: 8px;
}

.tela-perguntas .carta-virada div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;

}

.fundo-vermelha {
    background-color: #FF3030;
}

.fundo-amarela {
    background: #FF922E;
}

.fundo-verde {
    background: #2FBE34;
}

.tela-perguntas .carta-virada div button {
    width: 85px;
    height: 37px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
}

/* --- tela perguntas - footer --- */


.tela-perguntas footer {
    width: 100vw;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    position: fixed;
    bottom: 0;
    left: 0;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    font-family: Recursive;
    font-size: 18px;
    color: #333333;
}

.tela-perguntas footer h1 {
    font-weight: 700;
}

.tela-perguntas footer h2 {
    width: 222px;
    line-height: 21.6px;
    text-align: center;
    margin-bottom: 4px;
}

.tela-perguntas .section-final {
    /* height: 171px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

.tela-perguntas .section-final div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}



.tela-perguntas .section-final img {
    width: 23px;
    height: 23px;
}


.tela-perguntas .footer-final {
    height: 171px;

}


footer section {
    display: flex;
    flex-direction: row;
}

footer ion-icon {
    font-size: 30px;
}

.cor-verde {
    color: #2FBE34;
}

.cor-amarelo {
    color: #FF922E;
}

.cor-vermelho {
    color: #FF3030;
}

.cor-preto {
    color: #333333;
}